:root {
	font-family: sans-serif;
}

@media print {
	.noprint {
		display: none;
	}
}

label {
	width: 6ch;
	display: inline-block;
	text-align: right;
}

svg {
	overflow: visible;
	stroke-width: 0.5;
	stroke: black;
	fill: none;
}

output {
	div {
		position: relative;
		width: fit-content;
		height: fit-content;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}
	}
}
