:root {
	font-family: sans-serif;
}

@media print {
	body {
		margin: 0;
	}

	.noprint {
		display: none;
	}
}

label {
	width: 6ch;
	display: inline-block;

	&:not(:first-of-type) {
		text-align: right;
	}
}

svg {
	overflow: visible;
}

output {
	button {
		margin: 0.5rem 0.5rem 0.5rem 0;
	}

	div {
		position: relative;
		width: fit-content;
		height: fit-content;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}
	}
}
